@using Kutuphane_Yonetimi.Models.Entity
@model TBL_UYELER

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kayıt Ol - Kütüphane</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/webregister/css/font-awesome.css">

    <style>
        .field-validation-error {
            color: #ff6b6b;
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            display: block;
        }
    </style>
</head>
<body>
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>KÜTÜPHANEMİZE HOŞGELDİNİZ.</h1>
                    <p>
                        Okumak çiçek açmaktır. Ne kadar çok okursanız, o kadar çok çiçek açarsınız.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/GirisYap/"> Giriş Yap</a></li>
                            <li><a class="read" href="/Vitrin/Index/"> Ana Sayfa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> Kayıt OL</h2>
                    <div class="register-form">

                        @using (Html.BeginForm("KayitOl", "Kayit", FormMethod.Post))
                        {
                            <div class="fields-grid">

                                <div class="styled-input agile-styled-input-top">
                                    @Html.TextBoxFor(x => x.AD, new { required = "required" })
                                    <label>Adınız</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.AD)
                                </div>

                                <div class="styled-input agile-styled-input-top">
                                    @Html.TextBoxFor(x => x.SOYAD, new { required = "required" })
                                    <label>Soyadınız</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.SOYAD)
                                </div>

                                <div class="styled-input">
                                    @Html.TextBoxFor(x => x.MAIL, new { type = "email", required = "required" })
                                    <label>Email</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.MAIL)
                                </div>

                                <div class="styled-input">
                                    @Html.TextBoxFor(x => x.KULLANICIADI, new { required = "required" })
                                    <label>Kullanıcı Adı</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.KULLANICIADI)
                                </div>

                                <div class="styled-input">
                                    @Html.PasswordFor(x => x.SIFRE, new { required = "required" })
                                    <label>Şifre</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.SIFRE)
                                </div>

                                <div class="styled-input">
                                    @Html.TextBoxFor(x => x.TELEFON, new { required = "required", maxlength = "10" })
                                    <label>Telefon (5xxxxxxxxx)</label>
                                    <span></span>
                                    @Html.ValidationMessageFor(x => x.TELEFON)
                                </div>

                                <div class="styled-input">
                                    @Html.TextBoxFor(x => x.OKUL, new { required = "required" })
                                    <label>Okulunuz</label>
                                    <span></span>
                                </div>

                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Kabul Ediyorum. <a href="#">Şartları Okudum.</a></label>
                            </div>
                            <input type="submit" value="Onayla">
                        }
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <p class="agile-copyright">© 2025 Tüm Hakları Saklıdır. | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
    </section>
</body>
</html>