@using Kutuphane_Yonetimi.Models.Entity
@model List<TBL_YAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Yazarlar</h2>
    <div class="d-flex align-items-center">
        <input type="text" id="searchBox" class="form-control me-2" placeholder="Yazar ara..." />
    </div>
    <a href="/Yazar/YazarEkle" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Yeni Yazar Ekle
    </a>
</div>

<table id="YazarTable" class="table table-striped table-hover scroll-table">
    <thead>
        <tr>
            <th>Yazar ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Detay</th>

        </tr>
    </thead>
    <tbody id="YazarTable">
        @foreach (var yazar in Model)
        {
            <tr>
                <td>@yazar.ID</td>
                <td>@yazar.AD</td>
                <td>@yazar.SOYAD</td>
                <td>@yazar.DETAY</td>
                <td>
                    <a href="/Yazar/YazarGetir/@yazar.ID" class="btn btn-primary">Düzenle</a>
                    @Html.ActionLink("Delete", "YazarSil", new { id = yazar.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    document.getElementById('searchBox').addEventListener('keyup', function () {
        let filter = this.value.toLowerCase();
        document.querySelectorAll('#YazarTable tr').forEach(row => {
            let YazarAdi = row.cells[1].textContent.toLowerCase();
            row.style.display = YazarAdi.includes(filter) ? '' : 'none';
        });
    });
</script>


<style>
    .scroll-table thead,
    .scroll-table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .scroll-table tbody {
        display: block;
        max-height: 600px; /* Yaklaşık 10 satır için */
        overflow-y: auto;
    }
</style>
