@model Kutuphane_Yonetimi.Models.Siniflarim.PanelViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAnaSayfa.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 (Calendar için şart) -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">

    <!-- FullCalendar -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fullcalendar-bootstrap/main.min.css">


</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <br />
    <div class="row">
        <!-- Kitaplar -->
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@Model.ToplamKitap</h3>
                    <p>Toplam Kitap</p>
                </div>
                <div class="icon">
                    <i class="fas fa-book"></i>
                </div>
                <a href="#" class="small-box-footer" data-toggle="modal" data-target="#kitapModal">
                    Daha Fazla <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <!-- Bugünkü Ödünç -->
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@Model.BugunOduncSayisi</h3>
                    <p>Bugün Ödünç</p>
                </div>
                <div class="icon">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <a href="#" class="small-box-footer" data-toggle="modal" data-target="#oduncModal">
                    Daha Fazla <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <!-- Üyeler -->
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@Model.ToplamUye</h3>
                    <p>Toplam Üye</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="#" class="small-box-footer" data-toggle="modal" data-target="#uyeModal">
                    Daha Fazla <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <!-- Kategoriler -->
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@Model.KategoriSayisi</h3>
                    <p>Kategori Sayısı</p>
                </div>
                <div class="icon"><i class="fas fa-list"></i></div>
                <a href="#" class="small-box-footer" data-toggle="modal" data-target="#kategoriModal">
                    Daha Fazla <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Kitap Modal -->
    <div class="modal fade" id="kitapModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">📚 Kitap Detayları</h5>
                    <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>En çok ödünç alınan kitap: <b>@Model.EnPopulerKitap</b></p>
                    <p>Son eklenen kitap: <b>@Model.SonEklenenKitap</b></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Ödünç Modal -->
    <div class="modal fade" id="oduncModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">📖 Bugün Ödünç Alınan Kitaplar</h5>
                    <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    @if (Model.BugunOdunc != null && Model.BugunOdunc.Any())
                    {
                        <ul class="list-group">
                            @foreach (var item in Model.BugunOdunc)
                            {
                                <li class="list-group-item">
                                    <b>@item.KitapAdi</b> - <span class="text-muted">@item.UyeAdi</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-muted">📌 Bugün ödünç alınan kitap yok.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Üye Modal -->
    <div class="modal fade" id="uyeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">👥 Üye Detayları</h5>
                    <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Son eklenen üye: <b>@Model.SonUye</b></p>
                    <p>En çok kitap alan üye: <b>@Model.EnAktifUye</b></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Kategori Modal -->
    <div class="modal fade" id="kategoriModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">📊 Önemli Kategoriler</h5>
                    <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    @if (Model.OnemliKategoriler != null && Model.OnemliKategoriler.Any())
                    {
                        <ul class="list-group">
                            @foreach (var kategori in Model.OnemliKategoriler)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>@kategori.Kategori</span>
                                    <span class="badge bg-primary rounded-pill">@kategori.KitapSayisi kitap</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-muted">⚠️ Henüz kategori bilgisi yok.</p>
                    }
                </div>
            </div>
        </div>
    </div>




    <div class="row">

        <div class="card card-success">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">📊 Günlük Kitap Trafiği</h3>
            </div>
            <div class="card-body">
                <canvas id="barChart" style="min-height: 300px; height: 300px; max-width: 100%;"></canvas>
            </div>
        </div>

        <!--IADE Modal -->
        <div class="modal fade" id="iadeModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title">📌 Bugün Son İade Tarihi Olan Kitaplar</h5>
                        <button type="button" class="close text-white" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (Model.BugunSonIade != null && Model.BugunSonIade.Any())
                        {
                            <ul class="list-group">
                                @foreach (var item in Model.BugunSonIade)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span><b>@item.KitapAdi</b> - @item.UyeAdi</span>

                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p class="text-muted">✅ Bugün son iade tarihi olan kitap yok.</p>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12">
            <div class="card bg-gradient-success">
                <div class="card-header border-0">
                    <h3 class="card-title"><i class="far fa-calendar-alt"></i> Calendar</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div id="calendar" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>



    </div>


    <div class="row">

        <!-- En Çok Aktif Üyeler -->
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">En Çok Aktif Üyeler</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Üye Adı</th>
                                <th>Aktivite</th>
                                <th>Oran</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var uye in Model.TopAktifUyeler)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@uye.AdSoyad</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-success" style="width:@uye.Oran%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">@uye.Oran%</span></td>
                                    </tr>
                                    ;
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- En Çok Ceza Alan Üyeler -->
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">En Çok Ceza Alan Üyeler</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Üye Adı</th>
                                <th>Ceza</th>
                                <th>Oran</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 1;
                                foreach (var uye in Model.TopCezaUyeler)
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@uye.AdSoyad</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-danger" style="width:@uye.Oran%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">@uye.Oran%</span></td>
                                    </tr>
                                    ;
                                    j++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>







    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>

    <script src="~/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->

    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- Summernote -->
    <script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Moment.js -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <!-- FullCalendar -->
    <script src="~/AdminLTE/plugins/fullcalendar/main.min.js"></script>
    <script src="~/AdminLTE/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="~/AdminLTE/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="~/AdminLTE/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="~/AdminLTE/plugins/fullcalendar-bootstrap/main.min.js"></script>



    <script>
  $(function () {
    var barChartCanvas = $('#barChart').get(0).getContext('2d');

var barChartData = {
  labels  : ['Ödünç', 'İade', 'Son İade'],
  datasets: [{
    label               : 'Kitap Trafiği',
    backgroundColor     : ['#00a65a', '#3c8dbc', '#f39c12'],
    borderColor         : ['#00a65a', '#3c8dbc', '#f39c12'],
    borderWidth         : 1,
    data                : [
      @Model.BugunOduncSayisi,
      @Model.BugunIadeSayisi,
      @Model.BugunSonIadeSayisi
    ]
  }]
};

var barChartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true,
        precision:0
      }
    }]
  },
  // 👇 Tıklama eventi
  onClick: function (evt, elements) {
    if (elements.length > 0) {
      var index = elements[0]._index;
      var label = this.data.labels[index];
      if (label === 'Son İade') {
        $('#iadeModal').modal('show'); // Modalı aç
      }
    }
  }
};

var barChart = new Chart(barChartCanvas, {
  type: 'bar',
  data: barChartData,
  options: barChartOptions
});

  });
    </script>

    <script>
        $(function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            var calendar = new Calendar(calendarEl, {
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                themeSystem: 'bootstrap',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                height: 400, // yükseklik,
                // örnek eventler
                events: [
                    {
                        title: 'Kitap İadesi',
                        start: new Date().toISOString().split('T')[0]
                    },
                    {
                        title: 'Yeni Üye Kaydı',
                        start: new Date(new Date().setDate(new Date().getDate() + 2)).toISOString().split('T')[0]
                    }
                ]
            });

            calendar.render();
        });
    </script>
    <style>
        .fc .fc-toolbar h2 {
            font-size: 1.2rem; /* Başlık küçülür */
        }

        .fc .fc-daygrid-day-number {
            font-size: 0.8rem; /* Gün numaraları küçülür */
        }

        .fc .fc-event {
            font-size: 0.75rem; /* Etkinlik yazısı küçülür */
            padding: 2px 4px;
        }
    </style>
   



</body>
</html>

