@model Kutuphane_Yonetimi.Models.Entity.TBL_PERSONEL
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelGetir</h2>

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(k => k.PERSONEL)
        @Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(k => k.PERSONEL, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}