@using Kutuphane_Yonetimi.Models.Entity
@model List<TBL_HAREKET>
@{
    ViewBag.Title = "Kitaplarım";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kütüphane | Kitaplarım</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kitaplarım</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">

                <!-- Elimdeki Kitaplar -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">📚 Elimdeki Kitaplar</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Kitap Adı</th>
                                    <th>Alış Tarihi</th>
                                    <th>İade Tarihi</th>
                                    <th>Üye İade Tarihi</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.IslemDurumu == false)
                                    {
                                        <tr>
                                            <td>@item.TBL_KITAP.AD</td>
                                            <td>@(item.ALISTARIH.HasValue ? item.ALISTARIH.Value.ToString("dd.MM.yyyy") : "")</td>
                                            <td>@(item.IADETARIH.HasValue ? item.IADETARIH.Value.ToString("dd.MM.yyyy") : "")</td>
                                            <td><span class="text-muted font-italic">İade Edilmedi</span></td>
                                            <td><span class="badge badge-danger">Teslim Edilmedi</span></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Kitap Geçmişim -->
                <div class="card mt-4">
                    <div class="card-header">
                        <h3 class="card-title">📖 Kitap Geçmişim</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Kitap Adı</th>
                                    <th>Alış Tarihi</th>
                                    <th>İade Tarihi</th>
                                    <th>Üye İade Tarihi</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.IslemDurumu == true)
                                    {
                                        <tr>
                                            <td>@item.TBL_KITAP.AD</td>
                                            <td>@(item.ALISTARIH.HasValue ? item.ALISTARIH.Value.ToString("dd.MM.yyyy") : "")</td>
                                            <td>@(item.IADETARIH.HasValue ? item.IADETARIH.Value.ToString("dd.MM.yyyy") : "")</td>
                                            <td>@(item.UyeGetirTarih.HasValue ? item.UyeGetirTarih.Value.ToString("dd.MM.yyyy") : "")</td>

                                            <td><span class="badge badge-success">Teslim Edildi</span></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>
